services:
  # The Python Server
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - '8080:8080'
    env_file:
    - .env
    depends_on:
      - db

  # The MariaDB Database
  db:
    image: mariadb:10.11
    restart: always
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      PORT: ${DB_PORT}
      HOST: ${DB_HOST}
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - '80:80'
      - '443:443' 
      - '81:81'   
    volumes:
      - ./npm_data:/data
      - ./npm_letsencrypt:/etc/letsencrypt


volumes:
  db_data: