services:
  # The Python Server
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    env_file:
    - .env
    depends_on:
      - db

  # The MariaDB Database
  db:
    image: mariadb:10.11
    restart: always
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      PORT: ${DB_PORT}
      HOST: ${DB_HOST}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql


volumes:
  db_data: