html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
#eventContent {
    display: flex;
    justify-content: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#eventBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #24292e;
    width: 50vw;
    padding: 2%;
    margin-top: 1%;
    border-radius: 3%;
}

#imgTmp {
    width: 85%;
}

#headerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.time {
    display: flex;
    padding-right: 3%;
}

#timeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.timeText {
    padding-right: 3%;
}

#description {
    display: flex;
    justify-content: left;
    width: 80%;
    border: 1px inset rgba(0, 219, 219, 0.5);
    margin-top: 5%;
    height: 30%;
    padding: 3%;
}

#description-sub {
    height: 15%; 
    width: 80%;
    padding: 0;
    margin: 0;
    border: 1px inset rgba(0, 219, 219, 0.5);
    margin-top: 5%;
    padding: 3%;
}

#description-save {
    padding-top: 3%;
    display: flex;
    justify-content: right;
    width: 80%;
}

textarea {
    background-color: #24292e;
    color: aliceblue;
}

input {
    background-color: #24292e;
    color: aliceblue;
    border: 1px inset rgba(0, 219, 219, 0.5);
}
