    html {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: monospace;
            background-color: #f6f8fa;
            color: #24292e;
            margin: 0;
            height: 100vh;
           
        }
        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #24292e;
            color: white;
            margin: 0;
            height: 20vh;
            flex-grow: 1;
        }

        h1 {
            margin: 0;
        }

        #mainBlock {
            display: flex;
            justify-content: center;
            background-color: #121212;
            margin: 0;
            height: 80vh;
            color: aliceblue;
        }
        
        #contentBlock {
            background-color: #24292e;
            margin: 2%;
            padding: 2%;
            justify-items: center;
            width: 50vw;
            
            order: 3px solid #00f3ff;
            box-shadow: 0 0 10px #00f3ff, inset 0 0 5px #00f3ff;


        }

        #emailVisual {
            padding: 2%;
        }

        #emailsender {
            border-radius: 3%;
            background-color: cyan;
            border: 1px solid rgba(0,90,90);
        }