<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventus</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
        <div id="eventContent">
            <div id="eventBlock">
                <div id="headerTitle">
                    <h1>Admin</h1>
                </div>
                <div>
                    <p>Title:</p>
                    <input id="titleData" type="text" value="{{ event.title }}" />
                </div>
                    <div class="container">
                        <button class="cp-btn" id="titleButton">Save</button>
                    </div>
                <div>
                    <p>Image:</p>
                    <input id="picFile" type="file" />
                </div>
                <div class="container">
                    <button class="cp-btn" id="savePic">Save</button>
                </div>
                <div id="timeForm">
                    <div>
                    <p>Start:</p>
                    <input id="startTimeVal" type="datetime-local" />
                    </div>
                </div>
                <div>
                    <p>End:</p>
                    <input id="endTimeVal" type="datetime-local" />
                </div>
                <div class="container">
                    <button class="cp-btn" id="dateSaver">Save Start and End Time</button>
                </div>
                <div class="title-container">
                    <p>Description:</p>
                </div>
                <textarea id="description-sub">{{ event.description }}</textarea>
                <div id="description-save">
                    <button class="cp-btn" id="descriptionSave" type="button">Save</button>
                </div>

            </div>
        </div>

</body>

<script src="{{ url_for('static', filename='admin.js') }}"></script>
</html>