<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventus</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <h1>Eventus</h1>
        <p>Miminalist Event Planner</p>
    </header>

        <div id="mainBlock">
            <div id="contentBlock">
                <h2>Hello!</h2>
                <p>Enter your email to generate a new event.</p>
                <form id="mainSender">
                    <input name="email" id="email" type="email" />
                    <button class="cp-btn" id="emailsender" type="submit">Submit</button>
                </form>
                <div class="" id="emailVisual"></div>
            </div>
        </div>

</body>
<script src="../static/index.js"></script>
</html>