<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventus</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <h1>Eventus</h1>
        <p>Miminalist Event Planner</p>
    </header>
        <div>
            <h2>Welcome</h2>
            <p>Get started by exploring your documentation projects.</p>
            <div>{{message}}</div>
            <form id="mainSender">
                <input name="email" id="email" type="email" />
                <button id="emailsender" type="submit">Submit</button>
            </form>
            <div id="emailVisual"></div>
        </div>
</body>
<script src="../static/index.js"></script>
</html>