<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventus</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
        <div id="eventContent">
            <div id="eventBlock">

                <img id="imgTmp" src="{% if event.fileName %}{{ url_for('static', filename=event.fileName) }}{% else %}{{ url_for('static', filename='greyScreen.jpg') }}{% endif %}"></img>
                <div id="headerTitle">
                    <div id="datePick"></div>
                    <h1>{{ event.title }} </h1>
                </div>
                <div id="timeForm">

                    <div class="time">
                        <p class="timeText">Start:</p>
                        <div id="startValue">{{ event.startTime }}</div>
                    </div>

                    <div class="time">
                        <p class="timeText">End:</p>
                        <div id="endValue">{{ event.endTime }}</div>
                    </div>

                </div>
                <div id="description">
                <p id="description-sub">{{ event.description }}</p>
                </div>

            </div>
        </div>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>