<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventus</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
        <div id="eventContent">
            <div id="eventBlock">
                <img id="imgTmp" src="{{ url_for('static', filename='greyScreen.jpg') }}"></img>
                <div id="headerTitle">
                    <input type="date" value="" disabled>
                    <h1>EventName</h1>
                </div>
                <div id="timeForm">
                    
                    <div class="time">
                        <p>Start:</p>
                        <input type="time" />
                    </div>

                    <div class="time">
                        <p>End:</p>
                        <input type="time" />
                    </div>

                </div>
                <p>Description</p>
            </div>
        </div>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



<script src="../static/main.js"></script>
</html>